<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://169.254.131.39:9000/file/vmi-app.ipa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minioadmin%2F20201223%2F%2Fs3%2Faws4_request&X-Amz-Date=20201223T035629Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=ae451c4bcd2918bef152c0cf4630157c0b62cf985b0a26a0bc40f5e37ded7b8f</string>
                    </dict>
					 <dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://hmzy-app.cosmoplat.com/source/drawings-2/hmzy-app/icon.png</string>
					</dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>uni.UNIADD11EB</string>
                     <key>bundle-version</key>
                    <string>1.8</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>备件VMI</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
